/* common style */
body {
	font-family: Arial;
}

a {
	color: #66cc99;
}

a:hover {
	color: #66cc99;
}

.page {
	color: #797979;
}

/* Pagination style */
#pagination-block {
    margin: 20px 0;
}

.select-pagesize-block {
    float: left;
    width: 60px;
}

.select-pagesize-block select {
    width: 100%;
}

.select-page-block {
    float: right;
}

.select-page-block button {
    cursor: pointer;
    border: 1px solid #66cc99;
    background-color: #66cc99;
    color: #fff;
}

.select-page-block button[disabled="disabled"] {
    cursor: not-allowed;
    color: #ddd;
}

.select-page-block input {
    width: 40px;
}

/* header style*/
.logo-link:hover {
	text-decoration: none;
}

.nav-bar,
.log-btns,
.welcome-block {
	margin-top: 30px;
}

.nav-bar {
	margin-left: 120px;
}

.nav-bar a {
	margin-right: 10px;
	color: #797979;
	font-size: 18px;
}

.nav-bar a:hover {
	color: #66cc99;
}

/* footer style */
.footer-block {
	margin: 50px 0 20px 0;
	text-align: center;
	color: #797979;
}